<section class="artFull">
  <p class="cateFill">{{category}}</p>
  <h3>{{title}}</h3>
  </br>
  <p class="authFill"><a class="authLink" href="{{authorUrl}}">{{author}}</a></p>
  <p>About {{getDay}} days ago</p>
  </br>
  <section class="bod">{{{body}}}</section>
  </br>
  <button class="readMore">SHOW MORE/LESS<img class="arrow" src="img/arrow.svg"></button>
  </br>
  <div class="artBreak"></div>
</section>
